<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>  
    	<servlet-name>checkcache</servlet-name>  
    	<servlet-class>servlet.CheckCacheServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
    	<servlet-name>checkcache</servlet-name>  
    	<url-pattern>/checkcache</url-pattern>  
	</servlet-mapping>
	<servlet>  
    	<servlet-name>checkfile</servlet-name>  
    	<servlet-class>servlet.CheckFileServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
    	<servlet-name>checkfile</servlet-name>  
    	<url-pattern>/checkfile</url-pattern>  
	</servlet-mapping>
	<servlet>
    	<servlet-name>checkfilemem</servlet-name>  
    	<servlet-class>servlet.CheckFileMemServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
    	<servlet-name>checkfilemem</servlet-name>  
    	<url-pattern>/checkfilemem</url-pattern>  
	</servlet-mapping>
	<servlet>
    	<description></description>
    	<display-name>findfile</display-name>
    	<servlet-name>findfile</servlet-name>
    	<servlet-class>servlet.FileFinderServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>findfile</servlet-name>
    	<url-pattern>/findfile</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>removefile</display-name>
    	<servlet-name>removefile</servlet-name>
    	<servlet-class>servlet.RemoveFileServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>removefile</servlet-name>
    	<url-pattern>/removefile</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>listfile</display-name>
    	<servlet-name>listfile</servlet-name>
    	<servlet-class>servlet.ListFileServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>listfile</servlet-name>
    	<url-pattern>/listfile</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>findfilemem</display-name>
    	<servlet-name>findfilemem</servlet-name>
    	<servlet-class>servlet.FileFinderMemcacheServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>findfilemem</servlet-name>
    	<url-pattern>/findfilemem</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>listfilemem</display-name>
    	<servlet-name>listfilemem</servlet-name>
    	<servlet-class>servlet.ListFileMemcacheServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>listfilemem</servlet-name>
    	<url-pattern>/listfilemem</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>removefilemem</display-name>
    	<servlet-name>removefilemem</servlet-name>
    	<servlet-class>servlet.RemoveFileMemcacheServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>removefilemem</servlet-name>
    	<url-pattern>/removefilemem</url-pattern>
  	</servlet-mapping>
  	<servlet>  
    	<servlet-name>fileuploadben</servlet-name>  
    	<servlet-class>servlet.FileUploadBenServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
    	<servlet-name>fileuploadben</servlet-name>  
    	<url-pattern>/fileuploadben</url-pattern>  
	</servlet-mapping>
  	<servlet>  
    	<servlet-name>fileuploadmemben</servlet-name>  
    	<servlet-class>servlet.FileUploadMemcacheBenServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
    	<servlet-name>fileuploadmemben</servlet-name>  
    	<url-pattern>/fileuploadmemben</url-pattern>  
	</servlet-mapping>
	<servlet>
    	<description></description>
    	<display-name>removeallfilesben</display-name>
    	<servlet-name>removeallfilesben</servlet-name>
    	<servlet-class>servlet.RemoveAllFilesBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>removeallfilesben</servlet-name>
    	<url-pattern>/removeallfilesben</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>removeallfilesmemben</display-name>
    	<servlet-name>removeallfilesmemben</servlet-name>
    	<servlet-class>servlet.RemoveAllFilesMemcacheBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>removeallfilesmemben</servlet-name>
    	<url-pattern>/removeallfilesmemben</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>findfileben</display-name>
    	<servlet-name>findfileben</servlet-name>
    	<servlet-class>servlet.FileFinderBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>findfileben</servlet-name>
    	<url-pattern>/findfileben</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>findfilememben</display-name>
    	<servlet-name>findfilememben</servlet-name>
    	<servlet-class>servlet.FileFinderMemBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>findfilememben</servlet-name>
    	<url-pattern>/findfilememben</url-pattern>
  	</servlet-mapping>
    <servlet>
    	<description></description>
    	<display-name>findfilethreadedben</display-name>
    	<servlet-name>findfilethreadedben</servlet-name>
    	<servlet-class>servlet.FileFinderThreadedBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>findfilethreadedben</servlet-name>
    	<url-pattern>/findfilethreadedben</url-pattern>
  	</servlet-mapping>
  	 <servlet>
    	<description></description>
    	<display-name>findfilememthreadedben</display-name>
    	<servlet-name>findfilememthreadedben</servlet-name>
    	<servlet-class>servlet.FileFinderMemThreadedBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>findfilememthreadedben</servlet-name>
    	<url-pattern>/findfilememthreadedben</url-pattern>
  	</servlet-mapping>removeallfilesthreadedben
  	<servlet>
    	<description></description>
    	<display-name>removeallfilesthreadedben</display-name>
    	<servlet-name>removeallfilesthreadedben</servlet-name>
    	<servlet-class>servlet.RemoveAllFilesThreadedBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>removeallfilesthreadedben</servlet-name>
    	<url-pattern>/removeallfilesthreadedben</url-pattern>
  	</servlet-mapping>
	<servlet>
    	<description></description>
    	<display-name>removeallfilesmemthreadedben</display-name>
    	<servlet-name>removeallfilesmemthreadedben</servlet-name>
    	<servlet-class>servlet.RemoveAllFilesMemThreadedBenServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>removeallfilesmemthreadedben</servlet-name>
    	<url-pattern>/removeallfilesmemthreadedben</url-pattern>
  	</servlet-mapping>fileuploadmemthreadedben
  	<servlet>  
    	<servlet-name>fileuploadmemthreadedben</servlet-name>  
    	<servlet-class>servlet.FileUploadMemThreadedBenServlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
    	<servlet-name>fileuploadmemthreadedben</servlet-name>  
    	<url-pattern>/fileuploadmemthreadedben</url-pattern>  
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>